html,body{
	height:100%;
	width:100%;
	border:0;
	margin:0;
	padding:0;
	min-height: 267px;	
}
button{
	height:8%;
	width:25%;
	float:left;
	margin:0;
	border:0;
	padding:0;
	font: bold 20px Georgia,serif;
	letter-spacing:20px;
}
.total{
	height:8%;
	width:50%;
	float:left;
	margin:0;
	border:0;
	padding:0;
	font: bold 20px Georgia,serif;
	letter-spacing:20px;
}
body>button{
	border-right:1px solid #FFFAF0;
}
#writing{
	clear:both;
	padding:0;
	border:0;
	margin:0;
}
img[src="img/model.png"]{
	display:none;
}
/***************follow's index.html*************************************/
#tip{
	width:100%;
	min-width: 103px;
	height: 25px;
	position: absolute;
	top:16%;
	right:0%;
	background-color: rgba(200,200,200,0.7);
}
#tip>p{
	padding: 0;
	margin: 0;
	text-align: center;
}
/**************follow's second.html*************************/
#secWriting{
	width: 100%;
	height:90%;
	clear:both;
}
/*.setChar>form>input{
	display: block;
}*/